
*{
    font-family: "Times New Roman", sans-serif;
    margin: 0px;
    box-sizing:border-box;
}

h1,
h2 {
    background-color: rgb(100,60,120);
    color: #ffffff;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;    
}

.recipes-list {
    text-align: center;
    background-color: rgb(100,60,120);
    list-style-type: none;
}

.recipes-list a {
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
}

.recipes-list li {
    padding:8px;
}

.recipe-img {
    /* text-align: center; */
    width: 500px;
    height: auto;
}

section {
    margin-bottom: 20px;
}

